.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 12px 24px;
  height: 56px;
  font-family: 'ALS Hauss';
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
}

.btn.small {
  width: 182px;
}

.btn.big {
  width: 100%;
}

.btn.primary {
  background-color: var(--color-secondary);
  color: #036bfd;
}

.btn.secondary {
  background-color: var(--color-secondary);
  color: #036bfd;
}

.btn.disabled {
  background: var(--color-bg-btn-gray);
  color: var(--color-text-gray);
}
