.some {
  cursor: pointer;
  background: rgb(0, 204, 150);
  border: none;
  z-index: 80;
  position: absolute;
  box-sizing: border-box;
  left: 898.097px;
  top: 40px;
  width: 554.065px;
}

.titlesssss {
  position: sticky;
  left: 0;
  overflow: hidden;
  display: inline-block;
  border-radius: 2px;
  padding: 0 6px;
  height: 100%;
}
.rct-item {
  position: relative;
}

.color-done {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  // background-color: green;
  // z-index: 10000;
}

.rct-item-content {
  z-index: 10;
}
